<h1>select</h1>

{{key}}
{{#table}}
<table>
    <tr>
        {{#header}}
            <th>{{.}}</th>
        {{/header}}
    </tr>
    {{#rows}}
        <tr>
            {{#cells}}
                <td>{{.}}</td>
            {{/cells}}
        </tr>
    {{/rows}}
</table>
{{/table}}