<h1>Select</h1>

<ul>
    <li><a href="../view">--</a></li>
</ul>

{{sql}}
{{#table}}
    <table>
        <tr>
            {{#header}}
                <th>{{.}}</th>
            {{/header}}
        </tr>
        {{#body}}
            <tr>
                {{#.}}
                    <td>{{.}}</td>
                {{/.}}
            </tr>
        {{/body}}
    </table>
{{/table}}