<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  </head>
  <body>
    <h1>Tasks</h1>
    <ul>
    {{#tasks}}
        <li>
            <button class="task" type="button" value="{{.}}">{{.}}</button>
            <input class="task" type="button" value="{{.}}"/>
        </li>
    {{/tasks}}
    </ul>
    <script>
$(".task").click(function() {
  var path = "{{view.adminContextPath}}/tasks/"
  var val = $(this).val();
  jQuery.post( path + val, function(data, textStatus, jqXHR ) {
    console.log(data)
    console.log(textStatus)
    console.log(jqXHR)
  })
});
    </script>
  </body>
</html>


